/* css/style.css */
/* ... (seu CSS existente antes desta seção) ... */

/* Estilos para destaque das linhas */
tr.not-calibrated {
    background-color: #ffcccc; /* Vermelho claro */
    border-left: 5px solid #d9534f; /* Borda vermelha */
}
tr.calibrated-dhme { /* Verde para Calibrado (DHMED) */
    background-color: #b3e6b3; 
    border-left: 5px solid #28a745; 
}
tr.calibrated-sciencetech { /* Azul para Calibrado (Sciencetech) */
    background-color: #b3d9ff; 
    border-left: 5px solid #007bff; 
}
tr.divergent-calibrated { /* Amarelo para Não Cadastrado (DHMED) */
    background-color: #fffacd; 
    border-left: 5px solid #ffcc00; 
}
tr.divergent-calibrated-sciencetech { /* Laranja para Não Cadastrado (Sciencetech) */
    background-color: #ffdab9; 
    border-left: 5px solid #ff8c00; 
}

/* NOVO ESTILO PARA MANUTENÇÃO EXTERNA - MUDA COR DA FONTE E ESTILO */
tr.in-external-maintenance {
    color: #6a0dad; /* Cor roxa escura para o texto */
    font-style: italic; /* Texto em itálico */
    font-weight: bold; /* Texto em negrito */
    /* Você pode adicionar um background-color bem sutil aqui se quiser uma camada extra */
    /* background-color: rgba(200, 200, 200, 0.1); */ /* Cinza muito claro e quase transparente */
}


/* Estilo para calibração vencida (se você adicionar a lógica no JS) */
tr.expired-calibration {
    background-color: #fff3cd;
    border-left: 5px solid #ffc107;
}
